In [1]:
import tabula
import pandas as pd
import camelot
from ctypes.util import find_library
import tkinter
from tabula import read_pdf
from tabulate import tabulate

In [9]:

pdf_path='Resources/M2TST2E12M1K02967.pdf'
tables = read_pdf(pdf_path, pages='all', multiple_tables=True, stream=True)
tables

[]

In [6]:

def pdf_to_dataframe(pdf_path):
    # Use tabula to extract tables from the PDF
    tables = tabula.read_pdf(pdf_path, pages='all', multiple_tables=True, stream=True)
    # tables = camelot.read_pdf(pdf_path)
    
    # Combine the extracted tables into a single DataFrame
    if len(tables) > 0:
        df = pd.concat(tables, ignore_index=True)
        return df
    else:
        print("No tables found in the PDF.")
        return None

# Replace 'your_pdf_file.pdf' with the actual path to your PDF file
pdf_path='Resources/M2TST2E12M1K02967.pdf'

# Call the function to convert PDF data into a DataFrame
result_df = pdf_to_dataframe(pdf_path)

# Display the resulting DataFrame
if result_df is not None:
    print(result_df)

No tables found in the PDF.

In [14]:
#reading pdf with single table
pdf_path_1='Resources/M2TLZ1E11N1H06313.pdf'
tables = camelot.read_pdf(pdf_path_1, flavor='stream', pages='all')
df_single=pd.concat([table.df for table in tables], ignore_index=True)
df_single

,0,1,2,3
0,,,VEHICLE PARTICULARS,
1,Application No:,MH230426V4404334,Registration No:,MH14KT6053
2,Registration Date:,16-Apr-2023,Previous Registration No,:
3,Owner Serial No:,1,Owner Name:,AKSHAY ASHOK BAGATE
4,Son/Wife/Daughter of:,ASHOK BAGATE,,
5,Present Address:,,"PABAL FUTANEWADI ROAD,SHIRUR,FUTANEWADI,Pune,M...",
6,Vehicle Class:,M-Cycle/Scooter,Vehicle Maker:,KINETIC GREEN ENERGY & POWER
7,,,,SOLUTIONS LTD
8,Body Type:,OPEN,No of Cylinders:,0
9,Month/Year of Manufacturing:,9/2022,,
10,Chassis No:,M2TLZ1E11N1J06313,Engine No:,LZMNJ004741
11,Horse Power:,2.95,Seat(including driver):,2
12,Unladen Wt(kg):,92,Laden Wt(kg):,242
13,Registration Valid upto:,15-Apr-2038,Tax Amount:,0
14,Tax Paid upto:,,Cubic Capacity:,0.00
15,Color:,ROMANTIC RED,Fuel:,ELECTRIC(BOV)
16,Fitness upto:,15-Apr-2038,Vehicle Model,ZING HSS
17,Vehicle Norms,Not Available,Floor Area,0.000
18,Vehicle Status,Active,Wheel Base,1360
19,Last Change of Address done on:,,,
20,Fitness upto:,15-Apr-2038,Vehicle Model,ZING HSS
21,Vehicle Norms,Not Available,Floor Area,0.000
22,Vehicle Status,Active,Wheel Base,1360
23,Last Change of Address done on:,,,
24,Last Alteration of Vehicle done on,,,
25,,2 Insurance From ICICI LOMBARD vide policy cer...,,
26,HP Details:,,,
27,NOC Details:,,,
28,Black List Details:,,,
29,Mobile No:,,7498519598,
30,Email Id:,,,
31,,Particular Fee Rs. 50/- paid vide cash receipt...,,

In [24]:
#reading pdf with multiple table
pdf_path='Resources/M2TST2E12M1K02967.pdf'
tables = camelot.read_pdf(pdf_path, pages='1', flavor='stream',
    suppress_stdout=False,
    layout_kwargs={})
# df_multiple=pd.concat([table.df for table in tables], ignore_index=True)
# df_multiple

In [25]:
tables

In [27]:
tables[0].df

,0,1,2,3,4,5
0,,,CERTIFICATE OF REGISTRATION-FORM 23,,,
1,Registered Owner,:,KATARI PRASAD,Registration Number,:,
2,,,,,,AP39UJ9111
3,D/o or S/o or W/o or,:,S/O KATARI NARAYANA MURTHY,Date Of Registration,:,21-11-2022
4,Rep,,,,,
5,Owner Type,:,INDIVIDUAL,Registration Valid,:,20-11-2024
6,Present Address,:,26-7-74,Tax Paid (Rs.),:,0
7,,,"OIL MILL STREET,VELAMPETA",,,
8,,,,Tax Valid Upto,:,
9,,,"[OTHER],VISAKHAPATNAM",,,20-11-2034
10,,,"URBAN,VISAKHAPATNAM",,,
11,,,,Invoice Amount,:,224000.0
12,,,ANDHRA PRADESH,,,
13,,,500001,Mobile No,:,9642451168
14,Hypothecated To,: NA,,Hypothecated Date,:,NA

In [20]:
# Process each table
for i, table in enumerate(tables):
    print(f"Table {i + 1}:")
    print(table.df)  # DataFrame representation of the table
    print("\n" + "=" * 40 + "\n")

In [23]:
import fitz

# Load the PDF
pdf_document = fitz.open(pdf_path)

# Identify the page with the separating text
separating_page_index = 1  # Replace with the correct page index

# Get the coordinates of the text section (assuming it's a rectangular area)
text_rect = (left, top, right, bottom)  # Replace with the correct coordinates

# Close the PDF document
pdf_document.close()

NameError: name 'left' is not defined